---
import BlogPage from "@blog/Layouts/BlogPage.astro";
import { published } from "@blog/utils";
import { pageSize, siteInfo } from "@blog/config";
import Preview from "@blog/ui/Preview/Preview.astro";
import Pagination from "@blog/components/Pagination.astro";

export async function getStaticPaths({ paginate }) {
	const allPosts = await published();
	return paginate(allPosts, { pageSize: pageSize });
}
const { page } = Astro.props;
---

<BlogPage  hero={siteInfo.hero} heroPosition={siteInfo.heroPosition}>
	<main>
		{
			page.data.map((p, i) => (
				<Preview post={p} direction={i % 2 === 0 ? "left" : ""} />
			))
		}
		<Pagination
			currentPage={page.currentPage}
			totalPage={page.lastPage}
			url="pages"
		/>
	</main>
</BlogPage>
